<ifmodule mod_rewrite.c>
# prevent directory listings
#Options -Indexes
#IndexIgnore */*
# follow symbolic links
Options FollowSymlinks
RewriteEngine on

RewriteRule ^api/(/.+)?$ api/web/$1 [L,PT]

RewriteRule ^adminpanel(/.+)?$ backend/web/$1 [L,PT]

RewriteRule ^(/.+)?$ frontend/web/$1 [L,PT]

</ifmodule>